<tr>
  <td>
    <%= link_to show_image(product), product %>
  </td>
  <td><%= link_to product.name, product %></td>
  <td><%= item.quantity %></td>
  <td><%= product.price %> VND</td>
  <td><%= item.total_price %> VND</td>
</tr>
