<%= form_for :statistic, method: :get do |f| %>
  <div class="form-group">
    <%= f.hidden_field :type, value: "sell_product" %>
    <%= f.label :date_start %>
    <%= f.date_field :date_start, class: "form-control" %>

    <%= f.label :date_end %>
    <%= f.date_field :date_end, class: "form-control" %>

    <%= f.submit t("statistic") , class: "btn btn-primary" %>
  </div>
<% end %>
