<div id="all">
  <div id="content">
    <div class="container">
      <div class="col-md-12" id="basket">
        <div class="box">
          <h1><%= t ".title" %></h1>
          <% if @cart.items.size > 0 %>
          <p class="text-muted">You currently have <%= @cart.items.size %> item(s) in your cart.</p>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th colspan="2"><%= t "product" %></th>
                  <th><%= t "quantity" %></th>
                  <th><%= t "unit_price" %></th>
                  <th><%= t "discount" %></th>
                  <th colspan="2"><%= t "total" %></th>
                </tr>
              </thead>
              <tbody>
                <% @cart.items.each do |item| %>
                <%= render "carts/item_cart", product: find_product_by_id(item.product_id), item: item, show_total: true %>
                <% end %>
              </tbody>
              <tfoot>
                <tr>
                  <th colspan="5"><%= t "total" %></th>
                  <th colspan="2"><%= @cart.total_order %> VND</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <div class="box-footer">
            <div class="pull-left">
              <a href="category.html" class="btn btn-default"><i class="fa fa-chevron-left"></i><%= t ".continue_shopping" %></a>
            </div>
            <div class="pull-right">
              <button class="btn btn-default"><i class="fa fa-trash-o"></i><%= t".delete_cart" %> </button>
              <button type="submit" class="btn btn-primary"><%= t ".checkout" %><i class="fa fa-chevron-right"></i>
              </button>
            </div>
          </div>
          <% else %>
          <div class="alert alert-warning">
            <%= t".empty_cart" %>
         </div>
         <% end %>
       </div>
     </div>
   </div>
 </div>
</div>
